In [1]:
print("hi")

hi

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [3]:
diabetes = pd.read_csv('diabetes.csv')
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
summary_diabetes = (
    diabetes
    .agg(['mean', 'median', 'std'])      
    .T                                  
    .assign(nunique=diabetes.nunique())  
    .round(3)                           
)

summary_diabetes

                             mean   median      std  nunique
Pregnancies                 3.845    3.000    3.370       17
Glucose                   120.895  117.000   31.973      136
BloodPressure              69.105   72.000   19.356       47
SkinThickness              20.536   23.000   15.952       51
Insulin                    79.799   30.500  115.244      186
BMI                        31.993   32.000    7.884      248
DiabetesPedigreeFunction    0.472    0.372    0.331      517
Age                        33.241   29.000   11.760       52
Outcome                     0.349    0.000    0.477        2

In [5]:
pip install chardet

Requirement already satisfied: chardet in /Users/wujinhua/Desktop/Rice/Research/LLMLASSO/.venv/lib/python3.11/site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import chardet

with open("Most Streamed Spotify Songs 2024.csv", "rb") as f:
    result = chardet.detect(f.read(10_000))   # sample 10 KB
    enc = result["encoding"]
    print("Detected encoding:", enc)

spotify = pd.read_csv("Most Streamed Spotify Songs 2024.csv", encoding=enc)
spotify

Detected encoding: ISO-8859-1

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,9/5/2017,QM8DG1703420,"4,585",19.4,"305,049,963","65,770","5,103,054",...,NaN,2.0,"14,217",NaN,"20,104,066","13,184","50,633,006","656,337",NaN,1
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,7/27/2018,INT101800122,"4,575",19.4,"52,282,360","4,602","1,449,767",...,NaN,1.0,927,NaN,NaN,NaN,NaN,"193,590",NaN,0
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,2/28/2020,USUG12000043,"4,571",19.4,"189,972,685","72,066","6,704,802",...,NaN,1.0,74,6.0,"84,426,740","28,999",NaN,"1,135,998",NaN,1
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,11/8/2016,INY091600067,"4,591",19.4,"145,467,020","14,037","7,387,064",...,NaN,NaN,NaN,7.0,"6,817,840",NaN,NaN,"448,292",NaN,0
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),ArcÃ¯Â¿Â½Ã¯Â¿Â½,4/11/2017,USB271700107,"4,593",19.4,"255,740,653","32,138","14,066,526",...,NaN,4.0,"127,479",4.0,"69,006,739","11,320",NaN,"767,006",NaN,1

In [7]:
import re

In [8]:
num_cols  = spotify.select_dtypes(include="number").columns.tolist()
obj_cols  = spotify.select_dtypes(exclude="number").columns.tolist()

print(f"Numeric columns   ({len(num_cols)}): {num_cols}\n")
print(f"Non-numeric cols ({len(obj_cols)}): {obj_cols}\n")

Numeric columns   (7): ['Track Score', 'Spotify Popularity', 'Apple Music Playlist Count', 'Deezer Playlist Count', 'Amazon Playlist Count', 'TIDAL Popularity', 'Explicit Track']

Non-numeric cols (22): ['Track', 'Album Name', 'Artist', 'Release Date', 'ISRC', 'All Time Rank', 'Spotify Streams', 'Spotify Playlist Count', 'Spotify Playlist Reach', 'YouTube Views', 'YouTube Likes', 'TikTok Posts', 'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach', 'AirPlay Spins', 'SiriusXM Spins', 'Deezer Playlist Reach', 'Pandora Streams', 'Pandora Track Stations', 'Soundcloud Streams', 'Shazam Counts']

In [9]:
Rank = spotify['All Time Rank']
Rank

0           1
1           2
2           3
3           4
4           5
        ...
4595    4,585
4596    4,575
4597    4,571
4598    4,591
4599    4,593
Name: All Time Rank, Length: 4600, dtype: object

In [10]:
def is_numeric_like(col: pd.Series, thresh: float = 0.95) -> bool:
    """
    Return True if, after stripping commas/spaces, at least `thresh`
    fraction of non-null values can be parsed as numbers.
    """
    if col.dtype != object:
        return False
    
    cleaned = (
        col.astype(str)
           .str.replace(r"[,\s]", "", regex=True)
           .replace({"": np.nan})
    )
    numeric = pd.to_numeric(cleaned, errors="coerce")
    return numeric.notna().mean() >= thresh
obj_cols = spotify.select_dtypes(exclude="number").columns.tolist()
numeric_like = [c for c in obj_cols if is_numeric_like(spotify[c])]
textual_cols = [c for c in obj_cols if c not in numeric_like]
print("Detected numeric-like (string â†’ numeric):")
print(numeric_like, "\n")
print("Remaining textual columns:")
print(textual_cols, "\n")

Detected numeric-like (string â†’ numeric):
['All Time Rank', 'Spotify Streams', 'Spotify Playlist Count', 'Spotify Playlist Reach']

Remaining textual columns:
['Track', 'Album Name', 'Artist', 'Release Date', 'ISRC', 'YouTube Views', 'YouTube Likes', 'TikTok Posts', 'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach', 'AirPlay Spins', 'SiriusXM Spins', 'Deezer Playlist Reach', 'Pandora Streams', 'Pandora Track Stations', 'Soundcloud Streams', 'Shazam Counts']

In [11]:
Counts = spotify['Shazam Counts']
Counts

0        2,669,262
1        1,118,279
2        5,285,340
3       11,822,942
4          457,017
           ...
4595       656,337
4596       193,590
4597     1,135,998
4598       448,292
4599       767,006
Name: Shazam Counts, Length: 4600, dtype: object

In [12]:
Views = spotify['YouTube Views']
Views

0          84,274,754
1         116,347,040
2         122,599,116
3       1,096,100,899
4          77,373,957
            ...
4595      149,247,747
4596      943,920,245
4597      201,027,333
4598    1,118,595,159
4599      866,300,755
Name: YouTube Views, Length: 4600, dtype: object

In [13]:
def auto_numeric(df, thresh=0.90):
    """
    Convert object columns that are â‰¥ `thresh` fraction numeric-like
    (after stripping commas/space) to float.
    """
    obj_cols = df.select_dtypes(exclude="number").columns
    for c in obj_cols:
        cleaned = df[c].astype(str).str.replace(r"[,\s]", "", regex=True)
        ok_ratio = cleaned.str.fullmatch(r"\d+(\.\d+)?").mean()
        if ok_ratio >= thresh:
            df[c] = pd.to_numeric(cleaned, errors="coerce")
    return df

spotify_auto = auto_numeric(spotify.copy(), thresh=0.90)
print(spotify_auto.dtypes)

Track                          object
Album Name                     object
Artist                         object
Release Date                   object
ISRC                           object
All Time Rank                   int64
Track Score                   float64
Spotify Streams               float64
Spotify Playlist Count        float64
Spotify Playlist Reach        float64
Spotify Popularity            float64
YouTube Views                 float64
YouTube Likes                 float64
TikTok Posts                   object
TikTok Likes                   object
TikTok Views                   object
YouTube Playlist Reach         object
Apple Music Playlist Count    float64
AirPlay Spins                  object
SiriusXM Spins                 object
Deezer Playlist Count         float64
Deezer Playlist Reach          object
Amazon Playlist Count         float64
Pandora Streams                object
Pandora Track Stations         object
Soundcloud Streams             object
Shazam Counts                  object
TIDAL Popularity              float64
Explicit Track                  int64
dtype: object

In [18]:
 sample = spotify.apply(lambda s: s.dropna().iloc[0] if not s.dropna().empty else np.nan)
 sample

Track                                  MILLION DOLLAR BABY
Album Name                    Million Dollar Baby - Single
Artist                                       Tommy Richman
ISRC                                          QM24S2402528
All Time Rank                                            1
Track Score                                          725.4
Spotify Streams                                390,470,936
Spotify Playlist Count                              30,716
Spotify Playlist Reach                         196,631,588
Spotify Popularity                                    92.0
YouTube Views                                   84,274,754
YouTube Likes                                    1,713,126
TikTok Posts                                     5,767,700
TikTok Likes                                   651,565,900
TikTok Views                                 5,332,281,936
YouTube Playlist Reach                         150,597,040
Apple Music Playlist Count                           210.0
AirPlay Spins                                       40,975
SiriusXM Spins                                         684
Deezer Playlist Count                                 62.0
Deezer Playlist Reach                           17,598,718
Amazon Playlist Count                                114.0
Pandora Streams                                 18,004,655
Pandora Track Stations                              22,931
Soundcloud Streams                               4,818,457
Shazam Counts                                    2,669,262
TIDAL Popularity                                       NaN
Explicit Track                                           0
release_days                                         13429
dtype: object

In [19]:
import pandas as pd
import numpy as np
import re

########################################################################
# 0 â€“ (Re)load and normalise column names
########################################################################
spotify = pd.read_csv("Most Streamed Spotify Songs 2024.csv",
                      encoding="ISO-8859-1")

spotify.columns = (
    spotify.columns
          .str.strip()          # remove leading/trailing spaces
          .str.replace(" +", " ", regex=True)  # squash double spaces
)

########################################################################
# 1 â€“ columns to keep as text
########################################################################
keep_text = ["Track", "Album Name", "Artist", "ISRC"]

########################################################################
# 2 â€“ Release Date  â†’ numeric offset
########################################################################
if "Release Date" in spotify.columns:
    spotify["Release Date"] = pd.to_datetime(
        spotify["Release Date"], errors="coerce", infer_datetime_format=True
    )

    origin = spotify["Release Date"].min()
    spotify["release_days"] = (spotify["Release Date"] - origin).dt.days

    # drop only once; harmless if repeated because we guard with `if`
    spotify.drop(columns=["Release Date"], inplace=True, errors="ignore")

########################################################################
# 3 â€“ helper to coerce numeric-like object columns
########################################################################
def force_numeric(series):
    return (
        series.astype(str)
              .str.replace(r"[,\s]", "", regex=True)
              .replace({"": np.nan, "N/A": np.nan, "â€”": np.nan})
              .astype(float)
    )

########################################################################
# 4 â€“ convert everything except the text columns
########################################################################
for col in spotify.columns:
    if col in keep_text:
        continue
    if spotify[col].dtype == "object":
        spotify[col] = force_numeric(spotify[col])

########################################################################
# 5 â€“ verify
########################################################################
print(spotify.dtypes)

Track                          object
Album Name                     object
Artist                         object
ISRC                           object
All Time Rank                 float64
Track Score                   float64
Spotify Streams               float64
Spotify Playlist Count        float64
Spotify Playlist Reach        float64
Spotify Popularity            float64
YouTube Views                 float64
YouTube Likes                 float64
TikTok Posts                  float64
TikTok Likes                  float64
TikTok Views                  float64
YouTube Playlist Reach        float64
Apple Music Playlist Count    float64
AirPlay Spins                 float64
SiriusXM Spins                float64
Deezer Playlist Count         float64
Deezer Playlist Reach         float64
Amazon Playlist Count         float64
Pandora Streams               float64
Pandora Track Stations        float64
Soundcloud Streams            float64
Shazam Counts                 float64
TIDAL Popularity              float64
Explicit Track                  int64
release_days                    int64
dtype: object

/var/folders/5w/ff16971n7g373q3_zm275bpr0000gn/T/ipykernel_5591/1754448165.py:26: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  spotify["Release Date"] = pd.to_datetime(

In [20]:
spotify

,Track,Album Name,Artist,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,...,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track,release_days
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,QM24S2402528,1.0,725.4,3.904709e+08,30716.0,196631588.0,92.0,...,62.0,17598718.0,114.0,18004655.0,22931.0,4818457.0,2669262.0,NaN,0,13429
1,Not Like Us,Not Like Us,Kendrick Lamar,USUG12400910,2.0,545.9,3.237039e+08,28113.0,174597137.0,92.0,...,67.0,10422430.0,111.0,7780028.0,28444.0,6623075.0,1118279.0,NaN,1,13437
2,i like the way you kiss me,I like the way you kiss me,Artemas,QZJ842400387,3.0,538.4,6.013093e+08,54331.0,211607669.0,92.0,...,136.0,36321847.0,172.0,5022621.0,5639.0,7208651.0,5285340.0,NaN,0,13391
3,Flowers,Flowers - Single,Miley Cyrus,USSM12209777,4.0,444.9,2.031281e+09,269802.0,136569078.0,85.0,...,264.0,24684248.0,210.0,190260277.0,203384.0,NaN,11822942.0,NaN,0,12959
4,Houdini,Houdini,Eminem,USUG12403398,5.0,423.3,1.070349e+08,7223.0,151469874.0,88.0,...,82.0,17660624.0,105.0,4493884.0,7006.0,207179.0,457017.0,NaN,1,13464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,QM8DG1703420,4585.0,19.4,3.050500e+08,65770.0,5103054.0,71.0,...,2.0,14217.0,NaN,20104066.0,13184.0,50633006.0,656337.0,NaN,1,11004
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,INT101800122,4575.0,19.4,5.228236e+07,4602.0,1449767.0,56.0,...,1.0,927.0,NaN,NaN,NaN,NaN,193590.0,NaN,0,11329
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,USUG12000043,4571.0,19.4,1.899727e+08,72066.0,6704802.0,65.0,...,1.0,74.0,6.0,84426740.0,28999.0,NaN,1135998.0,NaN,1,11910
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,INY091600067,4591.0,19.4,1.454670e+08,14037.0,7387064.0,66.0,...,NaN,NaN,7.0,6817840.0,NaN,NaN,448292.0,NaN,0,10703
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),ArcÃ¯Â¿Â½Ã¯Â¿Â½,USB271700107,4593.0,19.4,2.557407e+08,32138.0,14066526.0,64.0,...,4.0,127479.0,4.0,69006739.0,11320.0,NaN,767006.0,NaN,1,10857